#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* CSS Styles of result */

body {
  width: 100%;
  font-size: 16px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}

.result {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid gray;
  padding: 1in;
}

.result #contact-info {
  text-align: center;
  margin-bottom: 2rem;
}

#contact-info h1 {
  font-weight: bold;
  text-transform: capitalize;
}

#education h2,
#experience h2 {
  text-align: left;
  font-weight: bold;
}

#education div{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 1.2rem;
}

#experience{
  text-align: left;
}

#experience h2{
  font-weight: bold;
}

#experience div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#functions {
  margin-top: 20px;
  grid-column: span 2;
}


/* CSS Style of inputs */

.inputs{
  background-color: rgb(47, 49, 54);
  padding: 10px;
  color: aliceblue;
  font-size: 1.2rem;
}

#basic-information,
#education-information,
#experience-input{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  vertical-align: middle;
  padding: 20px;
}

legend{
  font-size: 1.7rem;
}

fieldset{
  border-color: #E0093C;

}

#education-information,
#experience-input{
  margin-top: 2rem;
}
input{
  font-size: 1.5rem;
}

input#isGraduated{
  width: 20px;
  height: 20px;
}
