*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea, select {
  font: inherit;
}

html, body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #222;
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}
