/* this is a reset for css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea, select {
  font: inherit;
}

html, body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #222;
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Styles for the main container */

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-weight: 600;
}

section {
  margin: 50px 0px;
}

/*form styles*/

#required-field{
  color: red;
  font-weight: bold;
  font-size: 1.1rem;
}

#note{
  margin-top: 2rem;
  font-size: 0.8rem;
}

#add-employee form{
  display: grid;
  padding-top: 20px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
}

form input, form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #201f1f;
  width: 10rem;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}

form button:hover {
  background-color: #5a5050;
}


#table-container {
  overflow-x: auto;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

table {
  min-width: 900px; /* Ensure table has a minimum width */
  border-collapse: collapse;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

table th{
  background-color: #201f1f;
  color: white;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}

table tr{
  font-size: 0.9rem;
}

table tr:nth-child(even) {
  background-color: #c4c0c0;
}

table td {
  padding: 10px;
  text-align: center;
}

.missing-field {
  border-color: red;
}