<html>
  <body>
    <h1><%= title %></h1>
    <form action="/new" method="POST">
      <label for="text">Text</label>
      <input type="text" name="text" id="text">

      <label for="name">Name</label>
      <input type="text" name="name" id="name">

      <label for="date"></label>
      <input type="date" name="date" id="date">

      <button type="submit">Submit!</button>
    </form>
  </body>
</html>