@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
$font: 'Outfit', sans-serif;

$white: hsl(214, 37, 96);
$light-blue: hsl(225, 76, 55);
$dark-blue-1: hsl(223, 12, 35);
$background: hsl(228, 41, 11);
$dark-gray: hsl(217, 21, 27);
$light-gray: hsl(219, 69, 89);
$qr-result: hsl(223, 47, 23);