@import "config";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
ins,
input,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: $font;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

#home{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 32px;
  margin: 72px;
  &__logo{
    width: fit-content;
    grid-column: 6 / span 9;
    grid-row: 5 / 6;
  }
  &__input-fields {
    grid-row: 6 / 7;
    grid-column: 2 / span 10;
  }
}

@media (max-width <= 490px) {
  #home__input-fields{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    input,
    button{
      display: block;
    }
  }
}