<!-- index.ejs -->
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
  
  <body>
    <%- include('navbar', {links: links}) %>
    <ul>
      <% users.forEach((user) => { %>
        <%- include('users/user', {user: user}); %>
      <% }); %>
    </ul>
    
  </body>
</html>
