
/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styles */
html {
  height: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #383131;
  line-height: 1.6;
}

main {
  text-align: center;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 90%;
  height: 100%;
  width: 95%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  margin-bottom: 20px;
}

header h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

header p {
  font-size: 1rem;
  color: #555;
}

header span {
  font-style: italic;
  color: #007BFF;
}

#canvas {
  display: block;
  margin: 1rem auto;
  border: 2px dashed #007BFF;
  border-radius: 8px;
  background: #fafafa;
  width: 100%;
  height: 100vh;
  object-fit: contain;
  flex-grow: 2;
}

#canvas:hover {
  background: #f0f8ff;
}

#palette{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

#palette button{
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

button:hover{
  cursor: pointer;
}

button:active{
  background-color: #555;
}

#trash img{
  width: 100%;
}

#palette #red{
  background-color: red;
}
#palette #red:hover{
  background-color: rgba(255, 0, 0, 0.589);
}
#palette #blue{
  background-color: blue;
}
#palette #blue:hover{
  background-color: rgba(50, 85, 241, 0.527);
}
#palette #eraser{
  background-color: #fafafa;
}
#palette #eraser:hover{
  background-color: rgb(199, 194, 194);
}
#palette #black{
  background-color: black;
}
#palette #black:hover{
  background-color: rgb(68, 56, 56);
}
#palette #green{
  background-color: green;
}
#palette #green:hover{
  background-color: rgba(0, 128, 0, 0.37);
}
#palette #trash:hover{
  background-color: rgba(233, 53, 128, 0.404);
}
