* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  background-color: #0b2434;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#root {
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 400px;
}

main {
  margin: 10px;
  background: #f5f5f5;
  height: 100%;
  width: 500px;
  border-radius: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
  text-align: center;
}

.instructions{
  text-align: center;
  margin: 20px auto;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.dice-container button {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  background-color: white;
  font-family: Inter, sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  cursor: pointer;
  color: #0b2434;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.roll-dice {
  height: 50px;
  white-space: nowrap;
  width: auto;
  padding: 6px 21px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
}
